/*Post"
===========================*/

.block {
  margin: 10px;
}

.item {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.item__wrapper {
  display: flex;
}

img {
  width: 80px;
}

.header {
  margin: 10px;
}