/*Posts"
===========================*/

.wall {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.wall__field {
  
}

button {
  float: right; 
}

.field {
  width: 100%;
  max-width: 500px;
  min-width: 100px;
  min-height: 50px;
  max-height: 120px;
}

.upload {
  background-color: #4a7649;
  width: 100%;
  height: 40%;
  border: 1px solid #000;
}

.posts {
  background-color: #4a7649;
  width: 100%;
  height: 30%;
  border: 1px solid #000;
}

